<!DOCTYPE html>
<html>

<head>
    <title>Тестовая страничка SPA</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="main.css">
    <script type="text/javascript" src="vue.js"></script>
</head>

<body>
    <!--Главный компонент -  Главное меню-->
    <div id="main-component">
        <div v-show="curentView == 'MainMenu'">
            <div class="avtorizationBar">
                <div>
                    <a>Войти</a>
                    <br>
                    <label>
                        <label>Логин</label>
                        <input size="8" v-model='login'>
                        <br>
                        <label>Пароль</label>
                        <input size="8" v-model='pass'>
                        <br>
                        <button @click=SignIn>Войти</button>
                        <button>Закрыть</button>
                </div>
                <div>
                    <a>Регистрация</a>
                    <br>
                    <label>Логин</label>
                    <input size="8" v-model='login'>
                    <br>
                    <label>Пароль</label>
                    <input type="password" size="8" v-model='pass'>
                    <br>
                    <label>Группа</label>
                    <input size="8" v-model='group'>
                    <br>
                    <label>Работа</label>
                    <select id="phone" name="phone">
                        <option value="iphone 6s">Ученик</option>
                        <option value="lumia 950">Социолог</option>
                    </select>
                    <br>
                    <button>Зарегистрироваться</button>
                    <button>Закрыть</button>
                </div>
                <div>
                    <span>login</span>
                    <button>Выйти из аккаунта</button>
                </div>
            </div>
            <div class="mainMenu">
                <div>
                    <p>.:Пункты сменю:.</p>
                </div>
                <div>
                    <button @click="curentView='cliker1'">Анкетирование</button>
                    <button @click="curentView='cliker2'">Эксперт</button>
                    <button @click="curentView='authorizationRead'">Соцтолог</button>
                </div>
    
                <div>
                    <button @click="curentView='cliker1'">Конф. тестов</button>
                    <button @click="curentView='cliker2'">Конф. правил</button>
                    <button @click="curentView='authorizationRead'">Дефазификация</button>
                </div>
            </div>
        </div>
        <component v-if="curentView != 'MainMenu'" :is=curentView transition="switch" @exit="SwitchView"></component>
    </div>
    
    <!--анкетирование-->
    <template id='cliker1-tmp'>
        <button v-on:click="count++">анкетирование {{ count }} times.</button>
    </template>
    
    <!--конфг тестов-->
    <template id='cliker2-tmp'>
        <div>
            <button v-on:click="count++">конфг тестов {{ count }} times.</button>
            <button @click=exit>exit</button>
        </div>
    </template>

    <!-- считать с БД -->
    <template id='authorizationRead-tmp'>
        <div>
            <button @click='load'>load</button>
            <button @click='exit'>exit</button>
            <p v-for="e in respons_db">
                <span v-for="(value, key) in e">
                    {{ key }}={{ value}}
                </span>
            </p>
        </div>
    </template>

    <script type="text/javascript" src="main.js"></script>
</body>

</html>