<!DOCTYPE html>
<html>

<head>
    <title>Тестовая страничка SPA</title>
    <meta charset="utf-8">
    <script type="text/javascript" src="vue.js"></script>
</head>

<body>
    <!--меню-->
    <div id="main-component">
        <div></div>
        
        <component :is=curentView transition="switch" @exit="SwitchView"></component>
    </div>
    
    <!--меню-->
    <template id='MainMenu-tmp'>
        <div>
            <button @click="go('cliker1')">cliker1</button>
            <button @click="go('cliker2')">cliker2</button>
            <button @click="go('authorizationRead')">authorizationRead</button>
        </div>
    </template>

    <!--анкетирование-->
    <template id='cliker1-tmp'>
        <button v-on:click="count++">анкетирование {{ count }} times.</button>
    </template>
    
    <!--конфг тестов-->
    <template id='cliker2-tmp'>
        <div>
            <button v-on:click="count++">конфг тестов {{ count }} times.</button>
            <button @click=exit>exit</button>
        </div>
    </template>

    <!-- считать с БД -->
    <template id='authorizationRead-tmp'>
        <div>
            <button @click='load'>load</button>
            <button @click='exit'>exit</button>
            <p v-for="e in respons_db">
                <span v-for="(value, key) in e">
                    {{ key }}={{ value}}
                </span>
            </p>
        </div>
    </template>

    <script type="text/javascript" src="main.js"></script>
</body>

</html>