<!DOCTYPE html>
<html>

<head>
    <title>Тестовая страничка SPA</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="main.css">
    <script type="text/javascript" src="vue.js"></script>
</head>

<body>


    <!--VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV-->
    <!--ГЛАВНЫЙ компонент - ГЛАВНОЕ МЕНЮ + АВТОРИЗАЦИЯ-->
    <!--VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV-->
    <div id="main-component">
        <div v-show="curentView == 'MainMenu'">
            <div>
                <div>
                    <a>Войти</a>
                    <br>
                    <label>Логин</label>
                    <input size="8" v-model='login'>
                    <br>
                    <label>Пароль</label>
                    <input size="8" v-model='pass'>
                    <br>
                    <button @click=SignIn>Войти</button>
                     <button>Закрыть</button>
                </div>
                <div>
                    <a>Регистрация</a>
                    <br>
                    <label>Логин</label>
                    <input size="8" v-model='login'>
                    <br>
                    <label>Пароль</label>
                    <input type="password" size="8" v-model='pass'>
                    <br>
                    <label>Группа</label>
                    <input size="8" v-model='group'>
                    <br>
                    <label>Работа</label>
                    <select v-model='typePers'>
                        <option disabled value="-1">Выберите один из вариантов</option>
                        <option value="1">Ученик</option>
                        <option value="2">Социолог</option>
                        <option value="3">Эксперт</option>
                    </select>
                    <br>
                    <button @click=SignUp >Зарегистрироваться</button>
                    <button>Закрыть</button>
                </div>
                <div v-show='id  != -1'>
                    <span>{{ login }}</span>
                    <button @click=SignOut>Выйти из аккаунта</button>
                </div>
            </div>
            <div v-if='id != -1'>
                <p>.:Пункты сменю:.</p>
                <div>
                    <button @click="curentView='Anketirovanie'">Анкетирование</button>
                    <button @click="curentView='cliker2'">Эксперт</button>
                    <button @click="curentView='authorizationRead'">Соцтолог</button>
                </div>
                <div>
                    <button @click="curentView='cliker1'">Конф. тестов</button>
                    <button @click="curentView='cliker2'">Конф. правил</button>
                    <button @click="curentView='authorizationRead'">Дефазификация</button>
                </div>
            </div>
        </div>
        <component v-if="curentView != 'MainMenu'" :is=curentView transition="switch" @exit="SwitchView"></component>
    </div>



    <!--VVVVVVVVVVVVV-->
    <!--АНКЕТИРОВАНИЕ-->
    <!--VVVVVVVVVVVVV-->
    <template id='Anketirovanie-tmp'>
        <div>
            <div v-show='panel == 0'>
                <label>Введите ID теста</label><input v-model='id_test' size='8'>
                <button @click='loadTest'>Загрузить</button>
                <button @click='exit'>Выйти в главное меню</button>
            </div>
            <div v-show='panel == 1'>
                <button @click='exit'>Выйти в главное меню</button>
                <button @click='save'>Сохранить результат</button>
                <button @click='openOtherTest'>Загрузить другой тест</button>
            </div>
            <div v-for='question in questions'>
                <div><p>{{ question.question }}</p></div>
                <div>
                    <input v-if='question.id_type==1' v-model='question.val' type="checkbox">
                    <input v-if='question.id_type==2' v-model='question.val' type="range" min="2" max="5" step="1" value="5"> 
                    {{question.val}}
                </div>
            </div>
        </div>
    </template>



    <!--VVVVVVVVVVVVVVVVVVV-->
    <!--КОНФИГУРАТОР ТЕСТОВ-->
    <!--VVVVVVVVVVVVVVVVVVV-->
    <template id='cliker2-tmp'>
        <div>
            <button v-on:click="count++">конфг тестов {{ count }} times.</button>
            <button @click=exit>exit</button>
        </div>
    </template>



    <!--VVVVVVVVVVVVVV-->
    <!-- считать с БД -->
    <!--VVVVVVVVVVVVVV-->
    <template id='authorizationRead-tmp'>
        <div>
            <button @click='load'>load</button>
            <button @click='exit'>exit</button>
            <p v-for="e in respons_db">
                <span v-for="(value, key) in e">
                    {{ key }}={{ value}}
                </span>
            </p>
        </div>
    </template>

    <script type="text/javascript" src="main.js"></script>
</body>

</html>